.cl-container {
  padding: 50px 0px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.cl-title {
  text-align: center;
  font-size: 28px;
}

.cl-title__span {
  color: #eb1c24;
}

.cl-boxs {
  display: flex;
  margin: 0px 100px;
}

.cl-left-boxs {
  flex: 1;
}

.cl-left-title {
}

.btn-contact {
  margin-top: 20px;
}

.cl-right-boxs {
  flex: 1;
}
